{% extends 'base.html.twig' %}

{% block title %}{{ produit.nom }}{% endblock %}

{% block body %}
    <div class="ms-5"><a href="{{ path('app_front_categorie', {slug: produit.sousCategorie.categorie.slug}) }}">{{ produit.sousCategorie.categorie }}</a> --> <a href="{{ path('app_front_sous_categorie', {slug: produit.sousCategorie.slug}) }}">{{ produit.sousCategorie }}</a></div>
    <div class="row m-0 my-2">
        {% include 'front_produit/_produit_carousel_md_size.html.twig' %}
        {% include 'front_produit/_produit_image_desktop.html.twig' %}
        <div class="col-12 col-md-8 text-justify">
            <div class="mx-auto w-75">
                <h2 class="title-green">{{ produit.nom }}</h2>
                {% if produit.description is not null %}
                    <p>{{ produit.description|raw }}</p>
                {% endif %}
                <div class="w-25">
                    {% if produit.discount is not null %}
                        {% set price = produit.prix-(produit.prix*produit.discount/100) %}
                        <div class="d-flex justify-content-between">
                            <p class="mx-2 fw-bold h3">{{ price|format_currency('EUR') }}</p>
                            <span class="discount mx-2 h4">-{{ produit.discount }}%</span>
                        </div>
                        <p class="mx-2 fw-bolder"><s>{{ produit.prix|format_currency('EUR') }}</s></p>
                    {% else %}
                        <p class="mx-2 fw-bold h3">{{ produit.prix|format_currency('EUR') }}</p>
                    {% endif %}
                </div>
                <a href="{{ path('app_panier_add', {id: produit.id}) }}" class="btn btn-green-tomotic">Ajouter au panier</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $('.cursor-pointer').on('click', function(e){
            e.stopPropagation();
            let itemSource = $(this).find('img').attr('src');
            let currentSource = $('#img-big').attr('src');
            $('#img-big').attr('src', itemSource);
            $('#img-big').parent().attr('href', itemSource);
            $(this).find('img').attr('src', currentSource);
        })
    </script>
{% endblock %}