{% extends 'base-backend.html.twig' %}

{% block title %}Contenu index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Liste des contenus</h1>
        <a href="{{ path('app_admin_contenu_new') }}" class="btn btn-success">Nouveau</a>
    </div>
    <table class="table table-index table-striped table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Tag</th>
                <th>Rang</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contenu in contenus %}
            <tr>
                <td>{{ contenu.id }}</td>
                <td>{{ contenu.titre }}</td>
                <td>{{ contenu.tag }}</td>
                <td>{{ contenu.rankOrder }}</td>
                <td>
                    <a href="{{ path('app_admin_contenu_show', {'id': contenu.id}) }}" class="btn btn-primary"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_contenu_edit', {'id': contenu.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                    {{ include('admin_contenu/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-start">Pas d'entrée en base de données!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
