{% extends 'base.html.twig' %}

{% block title %}Passez votre commande
{% endblock %}

{% block body %}
	{{ form_start(form, {action:path('app_front_commande_verify')}) }}
	<h1 class="title-green text-center mb-4">Passez votre commande</h1>
	<div class="row justify-content-around">
		<div class="col-12 col-md-6">
            <p class="fw-semibold">Résumé des articles de votre commande</p>
			<table class="table">
				<thead>
					<tr>
						<th>Produit</th>
						<th>Quantité</th>
						<th>Prix unitaire</th>
						<th>Prix total</th>
					</tr>
				</thead>
				<tbody>
					{% for element in articles %}
						{% set totalPrice = element.prixFixe*element.quantite %}
						<tr>
							<td>
								<a href="{{ path('app_front_produit', {slug: element.produit.slug}) }}">{{ element.produit.nom }}</a>
							</td>
							<td>{{ element.quantite}}</td>
							<td class="text-end">{{ element.prixFixe|format_currency('EUR') }}</td>
							<td class="text-end">{{ totalPrice|format_currency('EUR') }}</td>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td class="fw-bold">Total:</td>
						<td colspan="3" class="text-end">{{ total|format_currency('EUR')}}</td>
					</tr>
				</tfoot>
			</table>
		</div>
		<div class="col-12 col-md-3">
			<p class="fw-semibold">Séléctionné une adresse de livraison:</p>
			{{ form_widget(form.adresse, {"attr": {'class': 'mb-3'}})|replace({ '[-br]' : '</br>'})|raw }}
	    </div>
    </div>
    <div class="w-100 text-center mt-2">
		<a href="{{ path('app_panier_index') }}" class="btn btn-danger">Retour au panier</a>
	    <button type="submit" class="btn btn-success">Valider la commande</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
