<li class="nav-item mx-5 d-none d-xl-block">
	<a href="{{ path('app_home') }}">Accueil</a>
</li>
<li class="nav-item mx-5 d-none d-xl-block">
	<a href="#">Solutions pour particuliers</a>
</li>
<li class="nav-item mx-5 d-none d-xl-block">
	<a href="#">Solutions pour professionnels</a>
</li>
<li class="nav-item dropdown ms-5 d-none d-xl-block">
	<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Nos produits</a>
	{{ render(controller('App\\Controller\\FrontCategorieController::renderCategorieDropdown'))}}
</li>
<li class="nav-item ms-auto me-5 d-none d-xl-block">
	<a href="{{ path('app_panier_index') }}">
		<i class="fa-solid fa-cart-shopping fa-xl"></i>
	</a>
</li>
{% if app.user is null %}
	<li class='mx-5 d-none d-xl-block'>
		<div class="my-2 nav-item">
			<a href="{{ path('app_login')}}">Connexion</a>
		</div>
		<div class="my-2 nav-item">
			<a href="{{ path('app_register') }}">Inscription</a>
		</div>
	</li>
{% else %}
	<li class="nav-item me-5 dropstart d-none d-xl-block">
		<a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			<i class="fa fa-user-circle fa-2xl"></i>
		</a>
		<ul class="dropdown-menu mt-4">
			<li>
				<a href="{{ path('app_front_user') }}" class="dropdown-item">Mon compte</a>
			</li>
			{% if is_granted("ROLE_ADMIN") %}
				<li>
					<a href="{{ path('app_admin_dashboard') }}" class="dropdown-item" target="_blank">Panneau d'administration</a>
				</li>
			{% endif %}
			<li>
				<a href="{{ path('app_logout') }}" class="dropdown-item">Déconnexion</a>
			</li>
		</ul>
	</li>
{% endif %}
