<nav id="sidebar" class="sidebar js-sidebar">
	<div class="sidebar-content js-simplebar">
		<a class="sidebar-brand text-decoration-none" href="{{ path('app_admin_dashboard') }}">
			<span class="align-middle">
				Administration site TOMOTIC
			</span>
		</a>
		<ul class="sidebar-nav">
			<li class="sidebar-header">
				Pages
			</li>
			<li class="sidebar-item {{ dashboardActive }}">
				<a class="sidebar-link" href="{{ path('app_admin_dashboard') }}">
					<i class="align-middle" data-feather="sliders"></i>
					<span class="align-middle">
						Dashboard
					</span>
				</a>
			</li>
			<li class="sidebar-item {{ homeActive }}">
				<a class="sidebar-link" href="{{ path('app_admin_home_index') }}">
					<i class="align-middle" data-feather="home"></i>
					<span class="align-middle">
						Accueil
					</span>
				</a>
			</li>
			<li class="sidebar-item {{ contenuActive }}">
				<a class="sidebar-link" href="{{ path('app_admin_contenu_index') }}">
					<i class="align-middle" data-feather="file-text"></i>
					<span class="align-middle">
						Contenu des pages
					</span>
				</a>
			</li>
			<li class="sidebar-header">
				Composants
			</li>
			<li class="sidebar-item {{ contactActive }}">
				<a class="sidebar-link" href="{{ path('app_admin_contact_content_index') }}">
					<i class="align-middle" data-feather="info"></i>
					<span class="align-middle">
						Informations de contact
					</span>
				</a>
			</li>
			<li class="sidebar-item {{ carouselActive }}">
				<a class="sidebar-link" href="{{ path('app_admin_carousel_index') }}">
					<i class="align-middle" data-feather="image"></i>
					<span class="align-middle">
						Carousels
					</span>
				</a>
			</li>
			<li class="sidebar-item {{ imageActive }}">
				<a class="sidebar-link" href="{{ path('app_admin_image_index') }}">
					<i class="align-middle" data-feather="image"></i>
					<span class="align-middle">
						Images
					</span>
				</a>
			</li>
			<li class="sidebar-item {{ produitActive }}">
				<a class="sidebar-link" href="{{ path('app_admin_produit_index') }}">
					<i class="align-middle" data-feather="package"></i>
					<span class="align-middle">
						Produits
					</span>
				</a>
			</li>
			<li class="sidebar-item {{ sousCategorieActive }}">
				<a class="sidebar-link" href="{{ path('app_admin_sous_categorie_index') }}">
					<i class="align-middle" data-feather="package"></i>
					<span class="align-middle">
						Sous Catégories
					</span>
				</a>
			</li>
			<li class="sidebar-item {{ categorieActive }}">
				<a class="sidebar-link" href="{{ path('app_admin_categorie_index') }}">
					<i class="align-middle" data-feather="package"></i>
					<span class="align-middle">
						Catégories
					</span>
				</a>
			</li>
			<li class="sidebar-item {{ footerActive }}">
				<a class="sidebar-link" href="{{ path('app_admin_footer_content_index') }}">
					<i class="align-middle" data-feather="twitter"></i>
					<span class="align-middle">
						Réseaux et Partenaires
					</span>
				</a>
			</li>
		</ul>
	</div>
</nav>
