{% extends 'base-backend.html.twig' %}
{% block title %}Commande index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Liste des commandes</h1>
        <a href="{{ path('app_admin_commande_new') }}" class="btn btn-success">Nouveau</a>
    </div>
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Référence</th>
                <th>Date de création</th>
                <th>Total</th>
                <th>Payée</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.reference }}</td>
                <td>{{ commande.createdAt ? commande.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande.prixTotal|format_currency('EUR') }}</td>
                <td>{{ commande.isPaid ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('app_admin_commande_show', {'id': commande.id}) }}" class="btn btn-primary"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_commande_edit', {'id': commande.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                    {{ include('admin_commande/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas d'entrée en base de données.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
